/* LAYOUT */

html,
body {
    margin: 0;
    padding: 0;
    background: #774;
}

button {
    border: 0;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 5px;
    border-radius: 5px;
    display: inline-block;
    background-color: #417cb8;
}

button:hover {
    background-color: mediumpurple;
}

button:active {
    background-color: red;
}

button::-moz-focus-inner {
    border: 0 !important;
}

@keyframes glowing {
    0% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
    50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
    100% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
}

button {
    animation: glowing 1500ms infinite;
}